body{
    background-color: grey;
    display: flex;
    text-align: center;
    justify-content: center;
}
.container{
    background-color: rgb(11,18,43);
    height: 310px;
    width: 1000px;
    position: absolute;
    background-image: url(/images/bg-desktop.png);
    background-repeat: no-repeat;
    background-size: 1000px 200px;
    padding-top: 220px;
    background-position: bottom;


}
.main{
    

}
.fyto{
    display: inline-block;
    border: 2px white solid;
    width: 200px;
    height: 70px;
    border-top-right-radius: 40px;
}
.useage{
    display: inline-block;
}